::-webkit-scrollbar{
    width : 20px;
}
::-webkit-scrollbar-corner{
    background-color: #eccfa5;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    background: #c39b77; 
    border-radius: 10px;
  }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#816751; 
  }
body{
    overflow-x: hidden;
    background-color: #eccfa5;
}
header{
    background-image: url("img/baconBG1.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: -10px ;
    margin-right: -10px;
    size: 110em;
}
#head{
    margin-top: -10px;
    margin: 0%;
    font-family: 'Shrikhand', cursive;
    font-size: 80px;
    
    text-align: center;
    text-shadow: 4px 8px 4px rgb(0, 217, 255);
    color: white;
}
#baconBG{
    height: 100%;
    width: 100%;
    image-rendering: optimizeQuality;
}
div{
    height: 100%;
    margin: -25px -10px -10px -10px;
    font-family: 'Prompt', sans-serif;
    padding-left: 50px;
}
#intro{
    height: 1000px;
    font-size: larger;
}
#introParagraph{
    padding-top: 50px;
    
}

